<div class="layui-header">
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:" layadmin-event="flexible" title="侧边伸缩">
                <i class="layui-icon layui-icon-shrink-right"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:" layadmin-event="refresh" title="刷新">
                <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
        </li>
    </ul>

    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                <i class="layui-icon layui-icon-notice"></i>  
                <!-- 如果有新消息，则显示小圆点 -->
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect="">
            <a href="javascript:;" layadmin-event="theme">
                <i class="layui-icon layui-icon-theme"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect="">
            <a href="javascript:;" layadmin-event="note">
                <i class="layui-icon layui-icon-note"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;">
                <cite>xxx</cite>
            <span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child layui-anim layui-anim-upbit">
                <dd><a lay-href="set/user/info.html">基本资料</a></dd>
                <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                <dd><a lay-href="set/user/password.html">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect="">
            <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
    </ul>
</div>

